#myTextRect {
  y: 35;
  display: none;
}

#myTextRect rect {
  opacity: 0.3;
  width: 10;   /* px to add to left and right of rect */
  rx: 20;
  ry: 20;
}

#myTextRect text {
  font-size: 40;
  text-length: 32;  /* Doesn't work, unfortunately; must change text-length in <use> */
}

#myTextRect2 rect {
  y: 2;
  rx: 16;
  ry: 16;
}

#myTextRect2 text {
  text-length: 32;  /* Doesn't work, unfortunately; must change text-length in <use> */
  fill: orange;
  text-buffer: "myTextRect2";
}